DATABASE_URL=postgresql://heyme:heyme@localhost:5432/heyme
DATABASE_URL_DIRECT=postgresql://heyme:heyme@localhost:5432/heyme

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

BLOB_READ_WRITE_TOKEN=vercel_blob_rw_emulator_local
VERCEL_BLOB_API_URL=http://localhost:3100/api/blob
VERCEL_BLOB_RETRIES=0
BLOB_HOST_SUFFIX=localhost
